version: "2.4"
services:
  plugin_elasticsearch:
    image: docker.io/tiredpixel/isoxya-plugin-elasticsearch.build:unstable
    init: true
    volumes:
      - ./isoxya-plugin-elasticsearch.cabal:/home/x/repo/isoxya-plugin-elasticsearch.cabal
      - ./lib:/home/x/repo/lib
      - ./src:/home/x/repo/src
      - ./test:/home/x/repo/test
    networks:
      es: {}
      plugin:
        aliases:
          - isoxya-plugin-elasticsearch.localhost
      test: {}
    restart: on-failure
    env_file: .env
  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.16.0
    volumes:
      - es:/usr/share/elasticsearch/data
    networks:
      - es
    restart: on-failure
    environment:
      discovery.type: single-node
  kib:
    image: docker.elastic.co/kibana/kibana:7.16.0
    networks:
      - es
    ports:
      - 0.0.0.0:5601:5601
    restart: on-failure
    environment:
      ELASTICSEARCH_HOSTS: http://es:9200
      SERVER_HOST: 0.0.0.0
  test_echo:
    image: docker.io/keisato/http-echo:latest
    networks:
      - test
    restart: on-failure
volumes:
  es: {}
networks:
  es: {}
  plugin: {}
  test: {}
