version: "2.4"
services:
  plugin:
    image: docker.io/tiredpixel/isoxya-plugin-elasticsearch.build:unstable
    init: true
    volumes:
      - ./isoxya-plugin-elasticsearch.cabal:/home/x/repo/isoxya-plugin-elasticsearch.cabal
      - ./lib:/home/x/repo/lib
      - ./src:/home/x/repo/src
      - ./test:/home/x/repo/test
    networks:
      es: {}
      plugin:
        aliases:
          - isoxya-plugin-elasticsearch.localhost
      test: {}
    restart: on-failure
  test_echo:
    image: docker.io/keisato/http-echo:latest
    networks:
      - test
    restart: on-failure
networks:
  es: {}
  plugin:
    external: true
    name: isoxya_plugin
  test: {}
